img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/load.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bcg-blue {
  background-color: rgb(185, 192, 254);
}

.nav-item {
  font-size: 20px;
  color: aliceblue;
}

.nav-link {
  color: aliceblue !important;
  font-size: 150%;
}

.nav-link:hover {
  color: #58BB85 !important;
}

.footer {
  position: initial;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  text-align: center;
  /* padding: 5px; */
  /* margin-top: 0px; */
}

.logo-big {
  /* height: 70px; */
  width: 700px;
}

.logo {
  width: 130px;
  padding: -10px;
  margin: -15px;
}

footer a {
  color: aliceblue;
}

footer a:hover {
  color: #58BB85;
  text-decoration: none;
}

.card-body {
  /* height: 150px; */
}

.list-group {
  font-size: 16px;
}

.list-group-item {
  padding: 6px;
}

.profIt {
  font-size: 16px;
}

.ProfH2 {
  color: #614FB5;
}

.btn-green {
  background-color: #58BB85;
}

.ProfHedBCG {
  background: linear-gradient(45deg, rgba(68, 167, 112, 1) 0%, rgba(68, 167, 112, 0.7) 76%, rgba(68, 167, 112, 0.7) 100%);
}

.profHead {
  margin: 0;
}

.ProfSkill {
  color: #614FB5;
}

.fa-check {
  color: #58BB85;
}

.btnYellow {
  background-color: #FFC05B;
}

.fa-thumbs-up {
  color: #58BB85;
}

.fa-thumbs-down {
  color: #FD9A87;
}

.btn-danger {
  background-color: #FD9A87;
  border: 1px solid #f06c53;
}

.ProfAvatar {}